<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- Habilitar camara en motorola 5g5 -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotopmas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Canjes"
            android:exported="false" />
        <activity
            android:name=".Competencia_Promocion"
            android:exported="false" />
        <activity
            android:name=".activity_competencia_promocion"
            android:exported="false" />
        <activity android:name=".Caducidad" />
        <activity android:name=".Competencia" />
        <activity android:name=".listaproductos" />
        <activity
            android:name=".MenuTienda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listatiendas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listapromociones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Promocion"
            android:screenOrientation="portrait" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Foto"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MapaTienda" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Producto"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.topmas.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>